{% extends 'base.html.twig' %}

{% block title %}
Charles Allard | {{ product.name }}
{% endblock %}
{% block stylesheets %}
	<link href="{{ asset('css/single-product.css') }}" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/single-product.js') }}" defer></script>
{% endblock %}
{% block body %}
	<div class="full-screen-carousel hide">
		<button>
			<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_324_841)">
					<path d="M18.8873 20.1748L19.8096 19.2524L1.11288 0.555756L0.190569 1.47807L18.8873 20.1748Z" fill="white"/>
					<path d="M9.06108 10.1167L9.9834 11.0391L19.5421 1.48035L18.6198 0.558033L9.06108 10.1167Z" fill="white"/>
					<path d="M0.000288245 19.2259L0.923828 20.147L8.75194 12.298L7.8284 11.3769L0.000288245 19.2259Z" fill="white"/>
				</g>
				<defs>
					<clipPath id="clip0_324_841">
						<rect width="20" height="20" fill="white" transform="translate(0 0.555664)"/>
					</clipPath>
				</defs>
			</svg>
		</button>
		<div class="full-screen-carousel-container-image">
			<img src="{{ vich_uploader_asset(product.productImages[0], 'imageFile') }}" alt="{{ product.productImages[0].name }}">
			<button>
				<span>
					<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_324_845)">
							<path d="M10.1624 0.879545L2.37402 8.66797L3.29634 9.59028L11.0848 1.80186L10.1624 0.879545Z" fill="white"/>
							<path d="M1.09224 9.64067L0.169922 10.563L10.1105 20.5036L11.0328 19.5813L1.09224 9.64067Z" fill="white"/>
						</g>
						<defs>
							<clipPath id="clip0_324_845">
								<rect width="20" height="20" fill="white" transform="matrix(-1 0 0 -1 20 20.5557)"/>
							</clipPath>
						</defs>
					</svg>
				</span>
			</button>
			<button>
				<span>
					<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_324_848)">
							<path d="M9.83755 20.2318L17.626 12.4434L16.7037 11.521L8.91524 19.3095L9.83755 20.2318Z" fill="white"/>
							<path d="M18.9078 11.4707L19.8301 10.5483L9.88947 0.607729L8.96715 1.53004L18.9078 11.4707Z" fill="white"/>
						</g>
						<defs>
							<clipPath id="clip0_324_848">
								<rect width="20" height="20" fill="white" transform="translate(0 0.555664)"/>
							</clipPath>
						</defs>
					</svg>
				</span>
			</button>
		</div>
		<div class="full-screen-carousel-info">
			<div class="carousel-progress-area">
				<div class="carousel-progress-line"></div>
			</div>
			<p>
				<span>?</span>
				/
				<span>?</span>
			</p>
		</div>
	</div>
	<section>
		<div class="carousel-product">
			{% for productImage in product.productImages %}
				<button>
					<img index="{{ loop.index }}" src="{{ vich_uploader_asset(productImage, 'imageFile') }}" alt="{{ productImage.name }}">
					<span></span>
				</button>
			{% endfor %}
		</div>
		<div class="product-image">
			<img index="1" src="{{ vich_uploader_asset(product.productImages[0], 'imageFile') }}" alt="{{ product.productImages[0].name }}">
		</div>
		<div class="product-information">
			<h1>{{ product.name |capitalize}}
				{% for information in product.information %}
					{% if information.key == "mouvement" %}
						<span>
							{{ information.value |capitalize }}
						</span>
					{% endif %}
				{% endfor %}
			</h1>
			<h2>
				{% for information in product.information %}
					{% if information.key == "watchNumber" or information.key == "materiaux" %}
						{{ information.value }}
					{% endif %}
				{% endfor %}
			</h2>
			<p>{{ product.description }}</p>
			{% if product.information %}
				<div class="accordion-element">
					<button>Spécification
						<span>
							<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_324_851)">
									<path d="M0.323881 10.3937L8.1123 18.1821L9.03462 17.2598L1.24619 9.47139L0.323881 10.3937Z" fill="black"/>
									<path d="M9.0855 19.4639L10.0078 20.3862L19.9484 10.4456L19.0261 9.52331L9.0855 19.4639Z" fill="black"/>
								</g>
								<defs>
									<clipPath id="clip0_324_851">
										<rect width="20" height="20" fill="white" transform="matrix(0 1 -1 0 20 0.555664)"/>
									</clipPath>
								</defs>
							</svg>
						</span>
					</button>

					<div class="container-accordion-links">
						<ul>
							{% for information in product.information %}
								{% if information.key != "watchNumber" %}
									<li>
										<span>
											{{ information.key |capitalize }} :
										</span>
										{{ information.value |capitalize }}
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}
			{% set highestPriorityDiscount = null %}
			{% set highestPriority = -1 %}
			{% set currentDate = "now"|date('Y-m-d H:i:s') %}
			{% for category in product.category %}
				{% for discount in category.discounts %}
					{% if discount.active == true and (discount.startDate is null or discount.startDate|date('Y-m-d H:i:s') <= currentDate) %}
						{% if discount.endDate is null or discount.endDate|date('Y-m-d H:i:s') >= currentDate %}
							{% if discount.priority > highestPriority %}
								{% set highestPriorityDiscount = discount %}
								{% set highestPriority = discount.priority %}
							{% endif %}
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endfor %}
			<div class="product-price-container">
				{% if highestPriorityDiscount is not null %}
					{% set discountedPrice = product.unitPrice %}
					{% if highestPriorityDiscount.percentageDiscount is not null %}
						{% set discountedPrice = discountedPrice - (discountedPrice * (highestPriorityDiscount.percentageDiscount / 100)) %}
					{% endif %}
					{% if highestPriorityDiscount.amountDiscount is not null %}
						{% set discountedPrice = discountedPrice - highestPriorityDiscount.amountDiscount %}
					{% endif %}
					<h3>
						{{ discountedPrice|number_format(0, '.', ' ') }}
						€
						<span>
							{{ product.unitPrice|number_format(0, '.', ' ') }}
							€
						</span>
					</h3>
				{% else %}
					<h3>
						{{ product.unitPrice|number_format(0, '.', ' ') }}
						€
					</h3>
				{% endif %}
				{% if highestPriorityDiscount is not null %}
					{% if highestPriorityDiscount.percentageDiscount is not null %}
						<span>
							-{{ highestPriorityDiscount.percentageDiscount }}%
						</span>
					{% endif %}
					{% if highestPriorityDiscount.amountDiscount is not null %}
						<span>
							-{{ highestPriorityDiscount.amountDiscount }}€
						</span>
					{% endif %}
				{% endif %}
				<span>TVA Incluse</span>
			</div>

			<a href="{{ path('app_cart_add', {id: product.id}) }}">Ajouter au Panier<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M10.6496 1.55566H9.34961L9.34961 19.5557H10.6496L10.6496 1.55566Z" fill="white"/>
					<path d="M1 9.90557L1 11.2056L19 11.2056V9.90557L1 9.90557Z" fill="white"/>
				</svg>
			</a>
		</div>
	</section>
{% endblock %}
