<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% block title %}Charles Allard
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

		<link href="{{ asset('css/style.css') }}" rel="stylesheet"/> 
		{% block stylesheets %}{% endblock %}


		{% block javascripts %}
			{# {% block importmap %}
				{{ importmap('app') }}
			{% endblock %} #}
		{% endblock %}
		<script src="{{ asset('js/nav.js') }}" defer></script>
		<script src="{{ asset('js/footer.js') }}" defer></script>
	</head>
	<body>
		<div class="full-screen hide"></div>
		<nav>
			<div class="burger-btn">
				<button>
					<svg width="30" height="11" viewbox="0 0 30 11" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect y="8.729" width="21.5385" height="2" fill="black"/>
						<rect y="0.651855" width="30" height="2" fill="black"/>
					</svg>
					<svg class="hide" width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_324_841)">
							<path d="M18.8873 20.1748L19.8096 19.2524L1.11288 0.555756L0.190569 1.47807L18.8873 20.1748Z" fill="black"/>
							<path d="M9.06108 10.1167L9.9834 11.0391L19.5421 1.48035L18.6198 0.558033L9.06108 10.1167Z" fill="black"/>
							<path d="M0.000288245 19.2259L0.923828 20.147L8.75194 12.298L7.8284 11.3769L0.000288245 19.2259Z" fill="black"/>
						</g>
						<defs>
							<clipPath id="clip0_324_841">
								<rect width="20" height="20" fill="white" transform="translate(0 0.555664)"/>
							</clipPath>
						</defs>
					</svg>
					<svg class="hide" width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_324_845)">
							<path d="M10.1624 0.879545L2.37402 8.66797L3.29634 9.59028L11.0848 1.80186L10.1624 0.879545Z" fill="black"/>
							<path d="M1.09224 9.64067L0.169922 10.563L10.1105 20.5036L11.0328 19.5813L1.09224 9.64067Z" fill="black"/>
						</g>
						<defs>
							<clipPath id="clip0_324_845">
								<rect width="20" height="20" fill="white" transform="matrix(-1 0 0 -1 20 20.5557)"/>
							</clipPath>
						</defs>
					</svg>
				</button>
			</div>
			<div class="container-nav-links">
				<div class="container-base-nav-links">
					<button>Montres
						<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_324_848)">
								<path d="M9.83755 20.2318L17.626 12.4434L16.7037 11.521L8.91524 19.3095L9.83755 20.2318Z" fill="black"/>
								<path d="M18.9078 11.4707L19.8301 10.5483L9.88947 0.607729L8.96715 1.53004L18.9078 11.4707Z" fill="black"/>
							</g>
							<defs>
								<clipPath id="clip0_324_848">
									<rect width="20" height="20" fill="white" transform="translate(0 0.555664)"/>
								</clipPath>
							</defs>
						</svg>
					</button>
					<a href="{{ path('app_product') }}">Montres</a>
					<a href="{{ path('app_history') }}">Histoire</a>
					<a href="{{ path('app_knowledge') }}">Savoir-faire</a>
					<a href="#">Contact</a>
				</div>
				<div class="container-watches-nav-links hide">
					<a href="{{ path('app_product') }}">Toutes les montres</a>
					<a href="#">Nos Collections</a>
					<a href="#">Nouveautés</a>
				</div>
				<a href="#">
					<svg width="32" height="33" viewbox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.9993 15.2223C18.9449 15.2223 21.3327 12.8345 21.3327 9.889C21.3327 6.94348 18.9449 4.55566 15.9993 4.55566C13.0538 4.55566 10.666 6.94348 10.666 9.889C10.666 12.8345 13.0538 15.2223 15.9993 15.2223Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M26.6663 27.2362V22.4222C26.6663 21.5735 26.3292 20.7595 25.7291 20.1594C25.129 19.5593 24.315 19.2222 23.4663 19.2222H8.53301C7.68432 19.2222 6.87038 19.5593 6.27027 20.1594C5.67015 20.7595 5.33301 21.5735 5.33301 22.4222V27.2362" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
					</svg>
					Connexion
				</a>
			</div>
			<div
				class="logo-nav">
				<a href="{{ path('app_home') }}">
					<svg id="logo-desktop" width="238" height="21" viewbox="0 0 238 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9.38695 20.312C8.12161 20.312 6.93428 20.0433 5.82495 19.506C4.73295 18.9513 3.77961 18.206 2.96495 17.27C2.15028 16.3167 1.50895 15.2333 1.04095 14.02C0.590279 12.8067 0.364945 11.5327 0.364945 10.198C0.364945 8.86333 0.598945 7.58933 1.06695 6.376C1.53495 5.16267 2.17628 4.088 2.99095 3.152C3.82295 2.19867 4.79361 1.45333 5.90295 0.915999C7.01228 0.361333 8.19961 0.0839992 9.46495 0.0839992C10.2796 0.0839992 11.0423 0.213999 11.7529 0.473999C12.4809 0.733999 13.1743 1.14133 13.8329 1.696L14.8469 0.396H15.4969V6.272H14.8469C14.6563 5.30133 14.3529 4.40867 13.9369 3.594C13.5209 2.762 12.9489 2.10333 12.2209 1.618C11.5103 1.11533 10.5829 0.863998 9.43895 0.863998C8.69361 0.863998 8.01761 1.00267 7.41095 1.28C6.82161 1.54 6.31028 2.01667 5.87695 2.71C5.44361 3.386 5.10561 4.33067 4.86295 5.544C4.63761 6.75733 4.52495 8.30867 4.52495 10.198C4.52495 12.0873 4.63761 13.6387 4.86295 14.852C5.08828 16.0653 5.40895 17.0187 5.82495 17.712C6.25828 18.388 6.76961 18.8647 7.35895 19.142C7.96561 19.402 8.64161 19.532 9.38695 19.532C10.5829 19.532 11.5623 19.3067 12.3249 18.856C13.0876 18.4053 13.6856 17.7987 14.1189 17.036C14.5523 16.2733 14.8729 15.424 15.0809 14.488H15.7309V20H15.0809L14.1969 18.804C13.5036 19.324 12.7409 19.7053 11.9089 19.948C11.0769 20.1907 10.2363 20.312 9.38695 20.312ZM17.6612 20V19.35H20.5212V1.046H17.6612V0.396H26.8652V1.046H24.0052V9.6H31.4932V1.046H28.6332V0.396H37.8372V1.046H34.9772V19.35H37.8372V20H28.6332V19.35H31.4932V10.25H24.0052V19.35H26.8652V20H17.6612ZM50.5716 19.61L45.7876 5.31H45.6836L45.5016 4.556L46.7496 0.0839992H47.5296L54.0556 19.61H50.5716ZM37.7276 20V19.35H43.9676V20H37.7276ZM42.7976 13.864V13.214H51.2216V13.864H42.7976ZM47.4516 20V19.35H56.3696V20H47.4516ZM39.9636 19.61L46.7496 0.0839992H47.5296L45.9436 4.556L40.8216 19.61H39.9636ZM61.8438 9.938V9.158H64.0018C65.0418 9.158 65.8824 9.04533 66.5238 8.82C67.1824 8.59467 67.6591 8.17 67.9538 7.546C68.2658 6.90467 68.4218 5.986 68.4218 4.79C68.4218 3.73267 68.3091 2.944 68.0838 2.424C67.8584 1.88667 67.5118 1.52267 67.0438 1.332C66.5931 1.14133 66.0124 1.046 65.3018 1.046H56.3058V0.396H66.3418C67.4684 0.396 68.4911 0.578 69.4098 0.941999C70.3458 1.28867 71.0824 1.79133 71.6198 2.45C72.1744 3.10867 72.4518 3.91467 72.4518 4.868C72.4518 5.87333 72.1138 6.75733 71.4378 7.52C70.7618 8.28267 69.7911 8.88067 68.5258 9.314C67.2778 9.73 65.7698 9.938 64.0018 9.938H61.8438ZM56.3058 20V19.35H66.0298V20H56.3058ZM59.1658 19.61V0.396H62.6498V19.61H59.1658ZM72.4518 20C71.6024 20 70.8311 19.8353 70.1378 19.506C69.4618 19.1767 68.9244 18.7173 68.5258 18.128C68.1271 17.5213 67.9104 16.8193 67.8758 16.022L67.7978 13.968C67.7458 12.5987 67.3904 11.5847 66.7318 10.926C66.0731 10.2673 65.2324 9.938 64.2098 9.938L66.1858 9.652H67.1478V9.756C67.8931 9.92933 68.6038 10.2673 69.2798 10.77C69.9731 11.2727 70.5451 11.8793 70.9958 12.59C71.4464 13.3007 71.6718 14.072 71.6718 14.904V16.256C71.6718 17.452 71.8018 18.2667 72.0618 18.7C72.3218 19.1333 72.7898 19.35 73.4658 19.35H74.4538V20H72.4518ZM74.2823 20V19.35H85.2803C86.147 19.35 86.875 19.0987 87.4643 18.596C88.071 18.0933 88.539 17.426 88.8683 16.594C89.1977 15.762 89.371 14.8607 89.3883 13.89H90.2983V20H74.2823ZM77.3503 19.61V0.396H80.8343V19.61H77.3503ZM74.2823 1.046V0.396H83.9803V1.046H74.2823ZM91.3672 20V19.35H102.755C103.622 19.35 104.35 19.0987 104.939 18.596C105.546 18.0933 106.014 17.426 106.343 16.594C106.673 15.762 106.846 14.8607 106.863 13.89H107.773V20H91.3672ZM94.4352 19.61V0.656H97.9192V19.61H94.4352ZM101.949 14.384C101.932 13.4133 101.802 12.6507 101.559 12.096C101.317 11.5413 100.901 11.1513 100.311 10.926C99.7392 10.6833 98.9158 10.562 97.8412 10.562V9.912C98.9158 9.912 99.7478 9.808 100.337 9.6C100.944 9.392 101.36 9.028 101.585 8.508C101.828 7.988 101.949 7.26 101.949 6.324H102.859V14.384H101.949ZM106.083 5.726C106.066 4.87667 105.893 4.10533 105.563 3.412C105.234 2.70133 104.766 2.12933 104.159 1.696C103.57 1.26267 102.842 1.046 101.975 1.046H91.3672V0.396H106.993V5.726H106.083ZM116.697 20.312C115.761 20.312 114.955 20.182 114.279 19.922C113.62 19.662 112.97 19.2807 112.329 18.778L111.393 20H110.743V14.54H111.419C111.627 15.372 111.948 16.1693 112.381 16.932C112.814 17.6773 113.395 18.2927 114.123 18.778C114.868 19.2633 115.796 19.506 116.905 19.506C117.893 19.506 118.708 19.324 119.349 18.96C120.008 18.5787 120.493 18.102 120.805 17.53C121.134 16.9407 121.299 16.334 121.299 15.71C121.299 15.1553 121.178 14.67 120.935 14.254C120.71 13.838 120.372 13.4827 119.921 13.188C119.47 12.876 118.942 12.6073 118.335 12.382C117.728 12.1567 117.044 11.9573 116.281 11.784C115.033 11.4893 114.01 11.0733 113.213 10.536C112.433 9.99867 111.852 9.34867 111.471 8.586C111.09 7.806 110.899 6.90467 110.899 5.882C110.899 4.61667 111.176 3.55933 111.731 2.71C112.286 1.84333 113.014 1.19333 113.915 0.76C114.816 0.309333 115.778 0.0839992 116.801 0.0839992C117.633 0.0839992 118.352 0.205332 118.959 0.447999C119.583 0.673333 120.216 1.03733 120.857 1.54L121.533 0.396H122.183V5.7L121.533 5.726C121.117 4.07933 120.502 2.85733 119.687 2.06C118.872 1.26267 117.876 0.863998 116.697 0.863998C115.986 0.863998 115.319 1.01133 114.695 1.306C114.088 1.60067 113.603 1.99933 113.239 2.502C112.875 2.98733 112.693 3.55067 112.693 4.192C112.693 4.72933 112.806 5.18 113.031 5.544C113.256 5.89067 113.577 6.18533 113.993 6.428C114.409 6.67067 114.894 6.87867 115.449 7.052C116.021 7.22533 116.645 7.40733 117.321 7.598C118.569 7.92733 119.609 8.36067 120.441 8.898C121.273 9.418 121.897 10.094 122.313 10.926C122.746 11.7407 122.963 12.7547 122.963 13.968C122.963 15.9267 122.417 17.478 121.325 18.622C120.25 19.7487 118.708 20.312 116.697 20.312ZM142.054 19.61L137.27 5.31H137.166L136.984 4.556L138.232 0.0839992H139.012L145.538 19.61H142.054ZM129.21 20V19.35H135.45V20H129.21ZM134.28 13.864V13.214H142.704V13.864H134.28ZM138.934 20V19.35H147.852V20H138.934ZM131.446 19.61L138.232 0.0839992H139.012L137.426 4.556L132.304 19.61H131.446ZM147.788 20V19.35H158.786C159.653 19.35 160.381 19.0987 160.97 18.596C161.577 18.0933 162.045 17.426 162.374 16.594C162.704 15.762 162.877 14.8607 162.894 13.89H163.804V20H147.788ZM150.856 19.61V0.396H154.34V19.61H150.856ZM147.788 1.046V0.396H157.486V1.046H147.788ZM165.003 20V19.35H176.001C176.868 19.35 177.596 19.0987 178.185 18.596C178.792 18.0933 179.26 17.426 179.589 16.594C179.918 15.762 180.092 14.8607 180.109 13.89H181.019V20H165.003ZM168.071 19.61V0.396H171.555V19.61H168.071ZM165.003 1.046V0.396H174.701V1.046H165.003ZM195.247 19.61L190.463 5.31H190.359L190.177 4.556L191.425 0.0839992H192.205L198.731 19.61H195.247ZM182.403 20V19.35H188.643V20H182.403ZM187.473 13.864V13.214H195.897V13.864H187.473ZM192.127 20V19.35H201.045V20H192.127ZM184.639 19.61L191.425 0.0839992H192.205L190.619 4.556L185.497 19.61H184.639ZM206.52 9.938V9.158H208.678C209.718 9.158 210.558 9.04533 211.2 8.82C211.858 8.59467 212.335 8.17 212.63 7.546C212.942 6.90467 213.098 5.986 213.098 4.79C213.098 3.73267 212.985 2.944 212.76 2.424C212.534 1.88667 212.188 1.52267 211.72 1.332C211.269 1.14133 210.688 1.046 209.978 1.046H200.982V0.396H211.018C212.144 0.396 213.167 0.578 214.086 0.941999C215.022 1.28867 215.758 1.79133 216.296 2.45C216.85 3.10867 217.128 3.91467 217.128 4.868C217.128 5.87333 216.79 6.75733 216.114 7.52C215.438 8.28267 214.467 8.88067 213.202 9.314C211.954 9.73 210.446 9.938 208.678 9.938H206.52ZM200.982 20V19.35H210.706V20H200.982ZM203.842 19.61V0.396H207.326V19.61H203.842ZM217.128 20C216.278 20 215.507 19.8353 214.814 19.506C214.138 19.1767 213.6 18.7173 213.202 18.128C212.803 17.5213 212.586 16.8193 212.552 16.022L212.474 13.968C212.422 12.5987 212.066 11.5847 211.408 10.926C210.749 10.2673 209.908 9.938 208.886 9.938L210.862 9.652H211.824V9.756C212.569 9.92933 213.28 10.2673 213.956 10.77C214.649 11.2727 215.221 11.8793 215.672 12.59C216.122 13.3007 216.348 14.072 216.348 14.904V16.256C216.348 17.452 216.478 18.2667 216.738 18.7C216.998 19.1333 217.466 19.35 218.142 19.35H219.13V20H217.128ZM218.906 20V19.35H227.616C228.691 19.35 229.601 19.22 230.346 18.96C231.091 18.7 231.698 18.2407 232.166 17.582C232.634 16.906 232.972 15.97 233.18 14.774C233.405 13.578 233.518 12.0527 233.518 10.198C233.518 8.34333 233.405 6.818 233.18 5.622C232.972 4.426 232.625 3.49867 232.14 2.84C231.672 2.164 231.065 1.696 230.32 1.436C229.575 1.176 228.665 1.046 227.59 1.046H218.906V0.396H228.422C229.722 0.396 230.927 0.664666 232.036 1.202C233.163 1.722 234.151 2.44133 235 3.36C235.849 4.27867 236.508 5.32733 236.976 6.506C237.444 7.68467 237.678 8.91533 237.678 10.198C237.678 11.4807 237.435 12.7113 236.95 13.89C236.482 15.0687 235.823 16.1173 234.974 17.036C234.142 17.9547 233.163 18.6827 232.036 19.22C230.909 19.74 229.696 20 228.396 20H218.906ZM221.766 19.61V0.396H225.25V19.61H221.766Z" fill="black"/>
					</svg>
					<svg id="logo-mobile" width="28" height="35" viewbox="0 0 28 35" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M13.8929 31.48C11.9462 31.48 10.1195 31.0667 8.41285 30.24C6.73285 29.3867 5.26619 28.24 4.01285 26.8C2.75952 25.3333 1.77285 23.6667 1.05285 21.8C0.359518 19.9333 0.0128517 17.9733 0.0128517 15.92C0.0128517 13.8667 0.372852 11.9067 1.09285 10.04C1.81285 8.17333 2.79952 6.52 4.05285 5.08C5.33285 3.61333 6.82619 2.46667 8.53285 1.64C10.2395 0.786665 12.0662 0.359999 14.0129 0.359999C15.2662 0.359999 16.4395 0.559999 17.5329 0.959998C18.6529 1.36 19.7195 1.98666 20.7329 2.84L22.2929 0.84H23.2929V9.88H22.2929C21.9995 8.38667 21.5329 7.01333 20.8929 5.76C20.2529 4.48 19.3729 3.46667 18.2529 2.72C17.1595 1.94666 15.7329 1.56 13.9729 1.56C12.8262 1.56 11.7862 1.77333 10.8529 2.2C9.94619 2.6 9.15952 3.33333 8.49285 4.4C7.82619 5.44 7.30619 6.89333 6.93285 8.76C6.58619 10.6267 6.41285 13.0133 6.41285 15.92C6.41285 18.8267 6.58619 21.2133 6.93285 23.08C7.27952 24.9467 7.77285 26.4133 8.41285 27.48C9.07952 28.52 9.86619 29.2533 10.7729 29.68C11.7062 30.08 12.7462 30.28 13.8929 30.28C15.7329 30.28 17.2395 29.9333 18.4129 29.24C19.5862 28.5467 20.5062 27.6133 21.1729 26.44C21.8395 25.2667 22.3329 23.96 22.6529 22.52H23.6529V31H22.6529L21.2929 29.16C20.2262 29.96 19.0529 30.5467 17.7729 30.92C16.4929 31.2933 15.1995 31.48 13.8929 31.48Z" fill="black"/>
						<path d="M23.8374 22.73L20.5254 12.83H20.4534L20.3274 12.308L21.1914 9.212H21.7314L26.2494 22.73H23.8374ZM14.9454 23V22.55H19.2654V23H14.9454ZM18.4554 18.752V18.302H24.2874V18.752H18.4554ZM21.6774 23V22.55H27.8514V23H21.6774ZM16.4934 22.73L21.1914 9.212H21.7314L20.6334 12.308L17.0874 22.73H16.4934Z" fill="black"/>
					</svg>

				</a>
			</div>
			<div class="user-nav-links">
				<a href="{% if app.user is null %}{{ path('app_login') }}{% endif %}">
					<svg width="32" height="33" viewbox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.9993 15.2223C18.9449 15.2223 21.3327 12.8345 21.3327 9.889C21.3327 6.94348 18.9449 4.55566 15.9993 4.55566C13.0538 4.55566 10.666 6.94348 10.666 9.889C10.666 12.8345 13.0538 15.2223 15.9993 15.2223Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M26.6663 27.2362V22.4222C26.6663 21.5735 26.3292 20.7595 25.7291 20.1594C25.129 19.5593 24.315 19.2222 23.4663 19.2222H8.53301C7.68432 19.2222 6.87038 19.5593 6.27027 20.1594C5.67015 20.7595 5.33301 21.5735 5.33301 22.4222V27.2362" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
					</svg>
				</a>
				<a href="{{path('app_cart_index')}}">
					<svg width="32" height="33" viewbox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M21.3332 11.2223H22.8794C24.2664 11.2223 25.4217 12.2854 25.5369 13.6675L26.4258 24.3342C26.5554 25.8889 25.3285 27.2223 23.7684 27.2223H8.2313C6.6712 27.2223 5.44429 25.8889 5.57385 24.3342L6.46274 13.6675C6.57792 12.2854 7.73329 11.2223 9.1202 11.2223H10.6665M21.3332 11.2223H10.6665M21.3332 11.2223V9.889C21.3332 8.4745 20.7713 7.11796 19.771 6.11776C18.7709 5.11757 17.4144 4.55566 15.9998 4.55566C14.5853 4.55566 13.2288 5.11757 12.2286 6.11776C11.2284 7.11796 10.6665 8.4745 10.6665 9.889V11.2223M21.3332 11.2223V16.5557M10.6665 11.2223V16.5557" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
			</div>
		</nav>
		{% block body %}{% endblock %}

		<footer>
			<a href="{{ path('app_home') }}">
				<svg width="238" height="21" viewbox="0 0 238 21" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M9.38695 20.312C8.12161 20.312 6.93428 20.0433 5.82495 19.506C4.73295 18.9513 3.77961 18.206 2.96495 17.27C2.15028 16.3167 1.50895 15.2333 1.04095 14.02C0.590279 12.8067 0.364945 11.5327 0.364945 10.198C0.364945 8.86333 0.598945 7.58933 1.06695 6.376C1.53495 5.16267 2.17628 4.088 2.99095 3.152C3.82295 2.19867 4.79361 1.45333 5.90295 0.915999C7.01228 0.361333 8.19961 0.0839992 9.46495 0.0839992C10.2796 0.0839992 11.0423 0.213999 11.7529 0.473999C12.4809 0.733999 13.1743 1.14133 13.8329 1.696L14.8469 0.396H15.4969V6.272H14.8469C14.6563 5.30133 14.3529 4.40867 13.9369 3.594C13.5209 2.762 12.9489 2.10333 12.2209 1.618C11.5103 1.11533 10.5829 0.863998 9.43895 0.863998C8.69361 0.863998 8.01761 1.00267 7.41095 1.28C6.82161 1.54 6.31028 2.01667 5.87695 2.71C5.44361 3.386 5.10561 4.33067 4.86295 5.544C4.63761 6.75733 4.52495 8.30867 4.52495 10.198C4.52495 12.0873 4.63761 13.6387 4.86295 14.852C5.08828 16.0653 5.40895 17.0187 5.82495 17.712C6.25828 18.388 6.76961 18.8647 7.35895 19.142C7.96561 19.402 8.64161 19.532 9.38695 19.532C10.5829 19.532 11.5623 19.3067 12.3249 18.856C13.0876 18.4053 13.6856 17.7987 14.1189 17.036C14.5523 16.2733 14.8729 15.424 15.0809 14.488H15.7309V20H15.0809L14.1969 18.804C13.5036 19.324 12.7409 19.7053 11.9089 19.948C11.0769 20.1907 10.2363 20.312 9.38695 20.312ZM17.6612 20V19.35H20.5212V1.046H17.6612V0.396H26.8652V1.046H24.0052V9.6H31.4932V1.046H28.6332V0.396H37.8372V1.046H34.9772V19.35H37.8372V20H28.6332V19.35H31.4932V10.25H24.0052V19.35H26.8652V20H17.6612ZM50.5716 19.61L45.7876 5.31H45.6836L45.5016 4.556L46.7496 0.0839992H47.5296L54.0556 19.61H50.5716ZM37.7276 20V19.35H43.9676V20H37.7276ZM42.7976 13.864V13.214H51.2216V13.864H42.7976ZM47.4516 20V19.35H56.3696V20H47.4516ZM39.9636 19.61L46.7496 0.0839992H47.5296L45.9436 4.556L40.8216 19.61H39.9636ZM61.8438 9.938V9.158H64.0018C65.0418 9.158 65.8824 9.04533 66.5238 8.82C67.1824 8.59467 67.6591 8.17 67.9538 7.546C68.2658 6.90467 68.4218 5.986 68.4218 4.79C68.4218 3.73267 68.3091 2.944 68.0838 2.424C67.8584 1.88667 67.5118 1.52267 67.0438 1.332C66.5931 1.14133 66.0124 1.046 65.3018 1.046H56.3058V0.396H66.3418C67.4684 0.396 68.4911 0.578 69.4098 0.941999C70.3458 1.28867 71.0824 1.79133 71.6198 2.45C72.1744 3.10867 72.4518 3.91467 72.4518 4.868C72.4518 5.87333 72.1138 6.75733 71.4378 7.52C70.7618 8.28267 69.7911 8.88067 68.5258 9.314C67.2778 9.73 65.7698 9.938 64.0018 9.938H61.8438ZM56.3058 20V19.35H66.0298V20H56.3058ZM59.1658 19.61V0.396H62.6498V19.61H59.1658ZM72.4518 20C71.6024 20 70.8311 19.8353 70.1378 19.506C69.4618 19.1767 68.9244 18.7173 68.5258 18.128C68.1271 17.5213 67.9104 16.8193 67.8758 16.022L67.7978 13.968C67.7458 12.5987 67.3904 11.5847 66.7318 10.926C66.0731 10.2673 65.2324 9.938 64.2098 9.938L66.1858 9.652H67.1478V9.756C67.8931 9.92933 68.6038 10.2673 69.2798 10.77C69.9731 11.2727 70.5451 11.8793 70.9958 12.59C71.4464 13.3007 71.6718 14.072 71.6718 14.904V16.256C71.6718 17.452 71.8018 18.2667 72.0618 18.7C72.3218 19.1333 72.7898 19.35 73.4658 19.35H74.4538V20H72.4518ZM74.2823 20V19.35H85.2803C86.147 19.35 86.875 19.0987 87.4643 18.596C88.071 18.0933 88.539 17.426 88.8683 16.594C89.1977 15.762 89.371 14.8607 89.3883 13.89H90.2983V20H74.2823ZM77.3503 19.61V0.396H80.8343V19.61H77.3503ZM74.2823 1.046V0.396H83.9803V1.046H74.2823ZM91.3672 20V19.35H102.755C103.622 19.35 104.35 19.0987 104.939 18.596C105.546 18.0933 106.014 17.426 106.343 16.594C106.673 15.762 106.846 14.8607 106.863 13.89H107.773V20H91.3672ZM94.4352 19.61V0.656H97.9192V19.61H94.4352ZM101.949 14.384C101.932 13.4133 101.802 12.6507 101.559 12.096C101.317 11.5413 100.901 11.1513 100.311 10.926C99.7392 10.6833 98.9158 10.562 97.8412 10.562V9.912C98.9158 9.912 99.7478 9.808 100.337 9.6C100.944 9.392 101.36 9.028 101.585 8.508C101.828 7.988 101.949 7.26 101.949 6.324H102.859V14.384H101.949ZM106.083 5.726C106.066 4.87667 105.893 4.10533 105.563 3.412C105.234 2.70133 104.766 2.12933 104.159 1.696C103.57 1.26267 102.842 1.046 101.975 1.046H91.3672V0.396H106.993V5.726H106.083ZM116.697 20.312C115.761 20.312 114.955 20.182 114.279 19.922C113.62 19.662 112.97 19.2807 112.329 18.778L111.393 20H110.743V14.54H111.419C111.627 15.372 111.948 16.1693 112.381 16.932C112.814 17.6773 113.395 18.2927 114.123 18.778C114.868 19.2633 115.796 19.506 116.905 19.506C117.893 19.506 118.708 19.324 119.349 18.96C120.008 18.5787 120.493 18.102 120.805 17.53C121.134 16.9407 121.299 16.334 121.299 15.71C121.299 15.1553 121.178 14.67 120.935 14.254C120.71 13.838 120.372 13.4827 119.921 13.188C119.47 12.876 118.942 12.6073 118.335 12.382C117.728 12.1567 117.044 11.9573 116.281 11.784C115.033 11.4893 114.01 11.0733 113.213 10.536C112.433 9.99867 111.852 9.34867 111.471 8.586C111.09 7.806 110.899 6.90467 110.899 5.882C110.899 4.61667 111.176 3.55933 111.731 2.71C112.286 1.84333 113.014 1.19333 113.915 0.76C114.816 0.309333 115.778 0.0839992 116.801 0.0839992C117.633 0.0839992 118.352 0.205332 118.959 0.447999C119.583 0.673333 120.216 1.03733 120.857 1.54L121.533 0.396H122.183V5.7L121.533 5.726C121.117 4.07933 120.502 2.85733 119.687 2.06C118.872 1.26267 117.876 0.863998 116.697 0.863998C115.986 0.863998 115.319 1.01133 114.695 1.306C114.088 1.60067 113.603 1.99933 113.239 2.502C112.875 2.98733 112.693 3.55067 112.693 4.192C112.693 4.72933 112.806 5.18 113.031 5.544C113.256 5.89067 113.577 6.18533 113.993 6.428C114.409 6.67067 114.894 6.87867 115.449 7.052C116.021 7.22533 116.645 7.40733 117.321 7.598C118.569 7.92733 119.609 8.36067 120.441 8.898C121.273 9.418 121.897 10.094 122.313 10.926C122.746 11.7407 122.963 12.7547 122.963 13.968C122.963 15.9267 122.417 17.478 121.325 18.622C120.25 19.7487 118.708 20.312 116.697 20.312ZM142.054 19.61L137.27 5.31H137.166L136.984 4.556L138.232 0.0839992H139.012L145.538 19.61H142.054ZM129.21 20V19.35H135.45V20H129.21ZM134.28 13.864V13.214H142.704V13.864H134.28ZM138.934 20V19.35H147.852V20H138.934ZM131.446 19.61L138.232 0.0839992H139.012L137.426 4.556L132.304 19.61H131.446ZM147.788 20V19.35H158.786C159.653 19.35 160.381 19.0987 160.97 18.596C161.577 18.0933 162.045 17.426 162.374 16.594C162.704 15.762 162.877 14.8607 162.894 13.89H163.804V20H147.788ZM150.856 19.61V0.396H154.34V19.61H150.856ZM147.788 1.046V0.396H157.486V1.046H147.788ZM165.003 20V19.35H176.001C176.868 19.35 177.596 19.0987 178.185 18.596C178.792 18.0933 179.26 17.426 179.589 16.594C179.918 15.762 180.092 14.8607 180.109 13.89H181.019V20H165.003ZM168.071 19.61V0.396H171.555V19.61H168.071ZM165.003 1.046V0.396H174.701V1.046H165.003ZM195.247 19.61L190.463 5.31H190.359L190.177 4.556L191.425 0.0839992H192.205L198.731 19.61H195.247ZM182.403 20V19.35H188.643V20H182.403ZM187.473 13.864V13.214H195.897V13.864H187.473ZM192.127 20V19.35H201.045V20H192.127ZM184.639 19.61L191.425 0.0839992H192.205L190.619 4.556L185.497 19.61H184.639ZM206.52 9.938V9.158H208.678C209.718 9.158 210.558 9.04533 211.2 8.82C211.858 8.59467 212.335 8.17 212.63 7.546C212.942 6.90467 213.098 5.986 213.098 4.79C213.098 3.73267 212.985 2.944 212.76 2.424C212.534 1.88667 212.188 1.52267 211.72 1.332C211.269 1.14133 210.688 1.046 209.978 1.046H200.982V0.396H211.018C212.144 0.396 213.167 0.578 214.086 0.941999C215.022 1.28867 215.758 1.79133 216.296 2.45C216.85 3.10867 217.128 3.91467 217.128 4.868C217.128 5.87333 216.79 6.75733 216.114 7.52C215.438 8.28267 214.467 8.88067 213.202 9.314C211.954 9.73 210.446 9.938 208.678 9.938H206.52ZM200.982 20V19.35H210.706V20H200.982ZM203.842 19.61V0.396H207.326V19.61H203.842ZM217.128 20C216.278 20 215.507 19.8353 214.814 19.506C214.138 19.1767 213.6 18.7173 213.202 18.128C212.803 17.5213 212.586 16.8193 212.552 16.022L212.474 13.968C212.422 12.5987 212.066 11.5847 211.408 10.926C210.749 10.2673 209.908 9.938 208.886 9.938L210.862 9.652H211.824V9.756C212.569 9.92933 213.28 10.2673 213.956 10.77C214.649 11.2727 215.221 11.8793 215.672 12.59C216.122 13.3007 216.348 14.072 216.348 14.904V16.256C216.348 17.452 216.478 18.2667 216.738 18.7C216.998 19.1333 217.466 19.35 218.142 19.35H219.13V20H217.128ZM218.906 20V19.35H227.616C228.691 19.35 229.601 19.22 230.346 18.96C231.091 18.7 231.698 18.2407 232.166 17.582C232.634 16.906 232.972 15.97 233.18 14.774C233.405 13.578 233.518 12.0527 233.518 10.198C233.518 8.34333 233.405 6.818 233.18 5.622C232.972 4.426 232.625 3.49867 232.14 2.84C231.672 2.164 231.065 1.696 230.32 1.436C229.575 1.176 228.665 1.046 227.59 1.046H218.906V0.396H228.422C229.722 0.396 230.927 0.664666 232.036 1.202C233.163 1.722 234.151 2.44133 235 3.36C235.849 4.27867 236.508 5.32733 236.976 6.506C237.444 7.68467 237.678 8.91533 237.678 10.198C237.678 11.4807 237.435 12.7113 236.95 13.89C236.482 15.0687 235.823 16.1173 234.974 17.036C234.142 17.9547 233.163 18.6827 232.036 19.22C230.909 19.74 229.696 20 228.396 20H218.906ZM221.766 19.61V0.396H225.25V19.61H221.766Z" fill="black"/>
				</svg>
			</a>
			<div class="container-footer-elements">
				<div class="footer-element">
					<button>Montres
						<span>
							<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_324_851)">
									<path d="M0.323881 10.3937L8.1123 18.1821L9.03462 17.2598L1.24619 9.47139L0.323881 10.3937Z" fill="black"/>
									<path d="M9.0855 19.4639L10.0078 20.3862L19.9484 10.4456L19.0261 9.52331L9.0855 19.4639Z" fill="black"/>
								</g>
								<defs>
									<clipPath id="clip0_324_851">
										<rect width="20" height="20" fill="white" transform="matrix(0 1 -1 0 20 0.555664)"/>
									</clipPath>
								</defs>
							</svg>
						</span>
					</button>
					<div class="container-elements-links">
						<a href="{{ path('app_product') }}">Toutes les montres</a>
						<a href="#">Nos Collections</a>
						<a href="#">Nouveautés</a>
					</div>
				</div>
				<div class="footer-element">
					<button>Histoire
						<span>
							<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_324_851)">
									<path d="M0.323881 10.3937L8.1123 18.1821L9.03462 17.2598L1.24619 9.47139L0.323881 10.3937Z" fill="black"/>
									<path d="M9.0855 19.4639L10.0078 20.3862L19.9484 10.4456L19.0261 9.52331L9.0855 19.4639Z" fill="black"/>
								</g>
								<defs>
									<clipPath id="clip0_324_851">
										<rect width="20" height="20" fill="white" transform="matrix(0 1 -1 0 20 0.555664)"/>
									</clipPath>
								</defs>
							</svg>
						</span>
					</button>
					<div class="container-elements-links">
						<a href="{{ path('app_history') }}">Histoire</a>
						<a href="{{ path('app_knowledge') }}">Savoir-faire</a>
					</div>
				</div>
				<div class="footer-element">
					<button>Service clientèle
						<span>
							<svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_324_851)">
									<path d="M0.323881 10.3937L8.1123 18.1821L9.03462 17.2598L1.24619 9.47139L0.323881 10.3937Z" fill="black"/>
									<path d="M9.0855 19.4639L10.0078 20.3862L19.9484 10.4456L19.0261 9.52331L9.0855 19.4639Z" fill="black"/>
								</g>
								<defs>
									<clipPath id="clip0_324_851">
										<rect width="20" height="20" fill="white" transform="matrix(0 1 -1 0 20 0.555664)"/>
									</clipPath>
								</defs>
							</svg>
						</span>
					</button>
					<div class="container-elements-links">
						<a href="#">Contact</a>
						<a href="#">Se connecter</a>
					</div>
				</div>
				<div class="footer-social-element">
					<button>Suivez-nous</button>
					<div class="container-elements-links" >
						<a href="https://www.facebook.com/">
							<svg width="24" height="25" viewbox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_320_1421)">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M14.1855 24.5557V13.7557H17.4644L18 8.95566H14.1855V6.61777C14.1855 5.38177 14.2171 4.15566 15.9443 4.15566H17.6936V0.723828C17.6936 0.672228 16.191 0.555664 14.6708 0.555664C11.496 0.555664 9.50808 2.5443 9.50808 6.1959V8.95566H6V13.7557H9.50808V24.5557H14.1855Z" fill="black"/>
								</g>
								<defs>
									<clipPath id="clip0_320_1421">
										<rect width="24" height="24" fill="white" transform="translate(0 0.555664)"/>
									</clipPath>
								</defs>
							</svg>
						</a>
						<a href="https://twitter.com/">
							<svg width="24" height="25" viewbox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M18.2439 2.80566H21.5519L14.3249 11.0657L22.8269 22.3057H16.1699L10.9559 15.4887L4.98991 22.3057H1.67991L9.40991 13.4707L1.25391 2.80566H8.07991L12.7929 9.03666L18.2439 2.80566ZM17.0829 20.3257H18.9159L7.08391 4.68166H5.11691L17.0829 20.3257Z" fill="black"/>
							</svg>
						</a>
						<a href="https://www.instagram.com/">
							<svg width="24" height="25" viewbox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M12 18.5557C15.3137 18.5557 18 15.8694 18 12.5557C18 9.24195 15.3137 6.55566 12 6.55566C8.68629 6.55566 6 9.24195 6 12.5557C6 15.8694 8.68629 18.5557 12 18.5557ZM12 16.5557C14.2091 16.5557 16 14.7648 16 12.5557C16 10.3465 14.2091 8.55566 12 8.55566C9.79086 8.55566 8 10.3465 8 12.5557C8 14.7648 9.79086 16.5557 12 16.5557Z" fill="#0F0F0F"/>
								<path d="M18 5.55566C17.4477 5.55566 17 6.00338 17 6.55566C17 7.10794 17.4477 7.55566 18 7.55566C18.5523 7.55566 19 7.10794 19 6.55566C19 6.00338 18.5523 5.55566 18 5.55566Z" fill="#0F0F0F"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M1.65396 4.83172C1 6.11519 1 7.79535 1 11.1557V13.9557C1 17.316 1 18.9962 1.65396 20.2796C2.2292 21.4086 3.14708 22.3265 4.27606 22.9017C5.55953 23.5557 7.23969 23.5557 10.6 23.5557H13.4C16.7603 23.5557 18.4405 23.5557 19.7239 22.9017C20.8529 22.3265 21.7708 21.4086 22.346 20.2796C23 18.9962 23 17.316 23 13.9557V11.1557C23 7.79535 23 6.11519 22.346 4.83172C21.7708 3.70274 20.8529 2.78486 19.7239 2.20962C18.4405 1.55566 16.7603 1.55566 13.4 1.55566H10.6C7.23969 1.55566 5.55953 1.55566 4.27606 2.20962C3.14708 2.78486 2.2292 3.70274 1.65396 4.83172ZM13.4 3.55566H10.6C8.88684 3.55566 7.72225 3.55722 6.82208 3.63076C5.94524 3.7024 5.49684 3.83225 5.18404 3.99163C4.43139 4.37513 3.81947 4.98705 3.43597 5.7397C3.27659 6.0525 3.14674 6.5009 3.0751 7.37774C3.00156 8.27791 3 9.4425 3 11.1557V13.9557C3 15.6689 3.00156 16.8334 3.0751 17.7336C3.14674 18.6105 3.27659 19.0589 3.43597 19.3717C3.81947 20.1243 4.43139 20.7362 5.18404 21.1197C5.49684 21.2791 5.94524 21.409 6.82208 21.4806C7.72225 21.5541 8.88684 21.5557 10.6 21.5557H13.4C15.1132 21.5557 16.2777 21.5541 17.1779 21.4806C18.0548 21.409 18.5032 21.2791 18.816 21.1197C19.5686 20.7362 20.1805 20.1243 20.564 19.3717C20.7234 19.0589 20.8533 18.6105 20.9249 17.7336C20.9984 16.8334 21 15.6689 21 13.9557V11.1557C21 9.4425 20.9984 8.27791 20.9249 7.37774C20.8533 6.5009 20.7234 6.0525 20.564 5.7397C20.1805 4.98705 19.5686 4.37513 18.816 3.99163C18.5032 3.83225 18.0548 3.7024 17.1779 3.63076C16.2777 3.55722 15.1132 3.55566 13.4 3.55566Z" fill="#0F0F0F"/>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="links-bottom-footer">
					<a href="#">Mentions légales</a>
					<a href="#">Politiques de confidentialités</a>
					<a href="#">Conditions générales de vente</a>
					<a href="#">Conditions d'utilisation</a>
				</div>
				<p>© {{ "now"|date("Y") }} Charles Allard - Tous droits réservés</p>
			</div>
		</footer>
	</body>
</html>
